@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.drop-down {
    background-color: $white;
    padding: 0.15rem;
    transition: box-shadow 3s ease;
    @include corner-radius-1;
    @include shadow-2;

    &__header-button {
        width: 100%;
        @include flex-row-1;
        @include button-1-style;
        @include no-margin;

        & {
            margin-bottom: 0.5rem;
        }

        &--open {
            background-color: $white;
            color: $black;
            border-color: $black;
        }
    }

    &__title {
        @include button-label-all;
        @include no-padding;
        @include no-margin;
    }

    &__header-icon {
        width: 24px;
        height: 24px;
        fill: $white;
        color: $white;
        @include no-margin;

        &--open {
            fill: $black;
            color: $black;
        }
    }

    &__content {
        width: 100%;
        @include flex-row-1;
        @include button-1-style;
        @include no-margin;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}