@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.login {
    padding: 2rem;
    background-color: $primary-light;
    @include flex-column-1;
    @include left-right-page-padding;

    &__container {
        padding: 2rem;
        width: 100%;
        background-color: $white;
        @include corner-radius-1;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 35%;
        }
    }

    &__title {
        @include heading-2;
        margin-bottom: 1.5rem;
    }

    &__email,
    &__instruction,
    &__timer {
        @include no-margin;
        @include body-text-all;
    }

    &__timer {
        color: $black;
        font-weight: bold;
    }

    &__form {
        gap: 1.5rem;
        @include flex-column-2;
    }

    &__buttons {
        gap: 1rem;
        @include flex-row-2;
    }

    &__resend,
    &__submit {
        @include button-1-style;
        & {
            flex: 1;
            padding: 0.75rem;
            margin-left: 0;
            margin-right: 0;
        }

        &:disabled {
            background-color: $primary-dark;
            color: $primary-light;
            cursor: not-allowed;

            &:hover {
                background-color: $primary-dark;
                border-color: $primary-dark;
                color: $primary-light;
            }
        }
    }

    &__error {
        background-color: $white;
        color: $error;
        padding: 1rem;
        margin: 1rem 0;
        @include corner-radius-1;
        @include border-1;
        @include body-text-all;
        & {
            border-color: $error;
        }

        p {
            @include no-margin;
        }
    }
}