@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.asset-page {
    width: 100%;
    height: 100%;
    background-color: yellow;
    box-sizing: border-box;

    &__container {
        width: 100%;
        height: 100%;
        background-color: red;
        box-sizing: border-box;
        @include left-right-page-padding;
    }

    &__title {
        @include heading-2-all;
    }

    &__description {
        @include body-text-all;
    }

}
