// Screen brake points. 

$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1279px;
$desktop-min-width: 1280px;

// Colors

$black: #0C1E1A;
$forest-green: #1E6655;
$pistachio: #EFFAF7;
$sea-green: #B7CEC9;
$sage: #E4EFEC;
$white: #FFFFFF;
$error: #B10606;
$primary-indigo: #2E66E5;
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

// Padding

$left-right-padding-header: 10rem;
$left-right-padding-header-mobile: 2rem;