@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header-public {
    background-color: $forest-green;
    padding-left: $left-right-padding-header-mobile;
    padding-right: $left-right-padding-header-mobile;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 9rem;

    @include desktop-and-tablet {
        padding-left: $left-right-padding-header;
        padding-right: $left-right-padding-header;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;
    }

    @include flex-column;
    @include no-margin;
    @include desktop-and-tablet {
        @include flex-row;
    }

    &__buttons {
        @include flex-row;
    }

    &__buttons-mobile {
        @include desktop-and-tablet {
            display: none;
        }
    }

    &__buttons-desktop {
        @include mobile {
            display: none;
        }
    }

    &__button {
        @include button-1-style;
        @include desktop-and-tablet {
            @include button-1-style-hover;
        }
    }
}