@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.input-box {
    gap: 0.5rem;
    @include flex-column-2;

    &__label {
        @include button-label-all;
    }

    &__input {
        padding: 0.75rem;
        @include corner-radius-1;
        @include body-text-all;
        @include border-1;

        &:focus {
            outline: none;
            border-color: $black;
        }
    }
}