@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    background-color: $white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 9rem;
    @include border-1;
    @include flex-column;
    @include no-margin;
    @include left-right-page-padding;

    @include tablet {
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;
    }

    @include desktop {
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;
    }

    @include desktop-and-tablet {
        @include flex-row;
    }

    &__buttons {
        @include flex-row;
    }

    &__buttons-mobile {
        @include desktop-and-tablet {
            display: none;
        }
    }

    &__buttons-desktop {
        @include mobile {
            display: none;
        }
    }

    &__button {
        @include button-1-style($black, $white, $white, $black, $black);
    }
}