@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.prosemirror-editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 300px;
    margin: 20px 0;
    background-color: #fff;

    .ProseMirror {
        min-height: 250px;
        outline: none;
    }

    .ProseMirror-menubar {
        margin-bottom: 10px;
    }
}
