@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.section {
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 0.25rem;
    margin: 1rem 0;
    @include corner-radius-1;

    &__header {
        margin-bottom: 1rem;
        @include border-bottom-1;
        @include flex-row-1;
    }

    &__title {
        margin: 0;
    }

    &__collapse-button{
        @include flex-row-1;
        @include button-1-style;
        & { 
            @include no-padding;
            @include no-margin;
        }
    }

    &__collapse-button-icon {
        width: 24px;
        height: 24px;
        fill: $white;
        color: $white;

        &:hover {
            fill: $black;
        }
    }

    &__title-h2 {
        @include heading-2-all;
    }

    &__title-h3 {
        @include heading-3-all;
    }

    &__title-h4 {
        @include heading-4-all;
    }

    &__content {
        overflow: hidden;
        transition: all 2s ease;
        max-height: 1000px;

        &--collapsed {
            max-height: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
        }
    }
}
