@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.search {
    background-color: $white;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    
    @include border-1;
    @include flex-row;

    &__input {
        @include input-box-no-focus;
        @include no-border;
        @include button-label-all;
    }

    &__button {
        @include button-1-style($black, $white, $white, $black, $black);
    }
}