@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.search {
    background-color: $white;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 30rem;

    @include desktop-and-tablet {
        width: 30rem;
    }

    @include no-margin;
    @include flex-row;

    &__input {
        @include input-box-no-focus;
        @include button-label-mobile;
        @include no-border;

        @include desktop-and-tablet {
            @include button-label;
        }
    }

    &__button {
        @include button-1-style;
    }
}