@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.signup {
    padding: 2rem;
    background-color: $primary-light;
    @include flex-column-1;
    @include left-right-page-padding;

    &__container {
        padding: 2rem;
        width: 100%;
        background-color: white;

        @include corner-radius-1;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 35%;
        }
    }

    &__title {
        @include heading-2;
    }

    &__form {
        gap: 1rem;
        @include flex-column-2;
    }

    &__form-group {
        gap: 0.5rem;
        @include flex-column-2;

        label {
            @include button-label-all;
        }

        input {
            padding: 0.75rem;
            @include corner-radius-1;
            @include body-text-all;
            @include border-1;

            &:focus {
                outline: none;
                border-color: $black;
            }
        }
    }

    &__submit {
        @include button-1-style;
        &{
            margin: 0rem;
            padding: 0.75rem;
        }
    }
} 